[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">3"
django-tables2 = "*"
django-utils-six = "*"
six = "*"
psycopg2 = "*"
numpy = "*"
reportlab = "*"
xhtml2pdf = "*"
django-easy-pdf = "*"
whitenoise = "*"
gunicorn = "*"
environs = {extras = ["django"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9.6"
