{% extends 'base.html' %}

{% block content %}
    <div class="form-page">
        <h3>Log In</h3>
        <form class="form-page-form" method="post">{% csrf_token %}
            <div>{{ form.username }} {{ form.username.errors }}</div>
            <div>{{ form.password }} {{ form.password.errors }}</div>
            <div><button class="form-page-submit" type="submit">Log In</button></div>
            <div class="form-page-errors">
                 {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}