@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: #EDF2F4;
    margin: 0;
}

h1 {
    font-size: 3em;
    font-weight: 100;
    text-decoration: none;
}

h2 {
    margin: 1em 1em 0.5em 1em;
}

.page-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2em;
    font-weight: 300;
    font-size: 2em;
}

h3 {
    margin: 1em 1em 0.5em 1em;
}

a {
    color: #EF233C;
    text-decoration: none;
    font-weight: 500;
}

.top-container {
    width: 100%;
}

.container {
    max-width: 60rem;
    width: 80%;  
    margin: 0 auto 0 auto;
}

.main {
    position: relative;
}

.top {
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    background-color: #F7FBFC;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    margin: 0 auto 0 auto;
}

.title-and-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.title {
    display: inline-block;
    order: 1;
    background-color: #D90429;
    padding: 0em 1em 0 1em;
}

.title a {
    font-size: 2em;
    font-weight: 300;
    color: white;
}

.navbar {
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0.5em;
    margin: 0 0 0 2em;
}

.navbar-item {
    display: inline-block;
    font-size: 1.25em;
    margin: 0 1.5em 0 0;
}

.navbar-item a {
    color: #2B2D42;
    font-weight: 500;
}

.login {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 0 2em 0 0;
}

.login-anonymous {
    order: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    margin: auto 2em auto 0;
    border: 0.15em solid #2B2D42;
    border-radius: 50%;
}

.anonymous-button {
    font-size: 1.5em;
}

.login-item {
    flex-grow: 1;
}

.login-text-gravatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
}

#gravatar {
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

#anonymous-icon {
    border: 0.15em solid #2B2D42;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: #2B2D42;
    text-align: center;
}

.dropdown {
    position: relative;
    float: right;
}

.dropdown-button {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    width: 20em;
    border-radius: 2.5%;
    background-color: #F7FBFC;
    z-index: 1;
    padding: 1em;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.dropdown-user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.1em solid #8D99AE;
    padding: 0 0 1em 0;
    margin: 0 0 1em 0;
}

.dropdown-element {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.25em 0 0.25em 0;
}

.dropdown-element:last-child {
    padding: 1em 0 0 0;
}

.dropdown-icon {
    margin: 0 1em 0 0;
}

#dropdown-gravatar {
    border-radius: 50%;
    margin: 0 0.5em 0 0;
}

.show {
    display: block;
}

.main {
    margin: 0 auto 0 auto;
}

.back {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: -6em;
    top: 0em;
    height: 2em;
    width: 4.2em;
    align-items: center;
    padding: 1em;
}

i {
    padding: 0.2em 0 0 0;
}

.back a {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.content {
    margin: 5em auto 0 auto;
}

.form-page {
    max-width: 40%;
    min-width: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0.5em;
    margin: 1.5em auto 0 auto;
    background-color: ghostwhite;
}

.info-page {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
}

.list {
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    border-spacing: 0em 0.05em;
    border-collapse: separate;
    border-radius: 6px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin: 0.5em 0 0 0;
}

.list-container {
    position: relative;
    margin: 3em auto 1em auto;
}

.list-container-2 {
    position: relative;
    margin: 4em auto 1em auto;
}

.noted-list {
    position: relative;
    width: 100%;
    margin: 6em auto 0.25em auto;
}

.list-top {
    height: 3.5em;
}

.list-entry {
    height: 4.5em;
    background-color: white;
}

tr.list-entry-important td {
    border-bottom: 0.2em solid whitesmoke;
}

.list-empty-bottom {
    height: 0.5em;
}

.list-bottom {
    height: 3.5em;
}

.list-title {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 3em;
    width: 10em;
    top: -2em;
    z-index: -1;
    font-size: 1.1em;
    font-weight: 300;
    background-color: white;
    padding: 0.25em 0 0 0;
}

.noted-list-note-container {
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 5em;
    width: 100%;
    bottom: -4em;
    z-index: -1;
    font-size: 0.9em;
    background-color: white;
}

.noted-list-note {
    padding: 0 10em 0.5em 2em;
}

.list-page-divider {
    margin: 4em 0 0 0;
}

.form-page-form {
    width: 100%;
    box-sizing: border-box;
    margin: 1em 0 0 0;
    padding: 0 1em 2em 1em;
    text-align: center;
}

.form-double-space {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em 0 0 0;
}

.form-selector-space{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em 0 0 0;
}

.form-double-space-error {
    align-items: left;
}

.form-page-descriptor {
    font-size: 0.8em
}

input.form-page-input {
    height: 4em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    border-radius: 0.5em;
    border: 0.1em solid gray;
    padding: 0.5em 0;
    margin: 0.1em 0 0 0;
}

textarea.form-page-input {
    height: 10em;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0.5em;
    padding: 0.5em 0.5em;
    margin: 0.1em 0 0 0;
}

select.form-page-input {
    height: 2em;
    font-family: 'Open Sans', sans-serif;
    margin: 0.1em 0 0 2em;
}

.form-page-password {
    display: inline-block;
    flex-grow: 1;
    width: 50%;
}
.form-page-password:first-child {
    margin: 0 0.25em 0 0;
}

.form-field-error {
    font-size: 0.8em;
}

.form-page-submit {
    width: 100%;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    padding: 0.5em 0;
    margin: 0.5em 0 0 0;
}

.form-page-errors {
    font-size: 0.8em;
    margin: 1.5em 0 0 0;
}

#create-member-table {
    margin: 0
}

.create-member-first-name, 
.create-member-last-name {
    width: 42.5%;
    text-align: center;
    padding: 0.5em 2em;
}

.create-member-actions {
    width: 15%;
    text-align: center;
    padding: 0.5em;
}

#id_responsible_by {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 100%;
}

.groups-list-name, .groups-list-leader {
    width: 40%;
    text-align: left;
    padding: 0.5em 2em;
}

.groups-list-deadline {
    width: 20%;
    text-align: center;
    padding: 0.5em 2em;
}

.groups-list-create {
    text-align: left;
    padding: 0.5em 2em;
}

.info-page-reset-password {
    height: 20em;
}

.info-page-reset-password-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50%;

}

.members-list-invite-email {
    width: 35%;
    text-align: left;
    padding: 0.5em 2em;
}

.members-list-invite-invite {
    width: 20%;
    text-align: center;
    padding: 0.5em 2em;
}

.members-list-invite-errors {
    width: 35%;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em 2em;
}

.members-list-email {
    width: 25%;
    text-align: left;
    padding: 0.5em 2em;
}

.members-list-name {
    width: 35%;
    text-align: center;
    padding: 0.5em 2em;
}

.members-list-wish-submitted, 
.members-list-actions {
    width: 15%;
    text-align: center;
    padding: 0.5em;
}

.members-list-invited-email {
    width: 85%;
    text-align: left;
    padding: 0.5em 2em;
}

.members-list-invited-action {
    width: 15%;
    text-align:center;
    padding: 0.5em;
}

.wish-list-items {
    width: 20%;
    text-align: left;
    padding: 0.5em 1em;
}

.wish-list-details {
    width: 50%;
    text-align: left;
    padding: 0.5em 1em;
}

.wish-list-priority, .wish-list-actions {
    width: 15%;
    text-align: center;
    padding: 0.5em;
}

#delete-wish {
    display: inline-block;
    margin: 0 0 0 0;
}

input.in-page-input {
    height: 2em;
    border-radius: 1em;
    border: 0.1em solid #2B2D42;
    padding: 0.05em 0.8em;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input:focus {
    outline: 0;
    border: 0.15em solid #2B2D42;
}

select.in-page-input {
    height: 2em;
    border-radius: 0.25em;
    border: 0.1em solid gray;
    padding: 0.05em 0.4em;
    width: 100%;
}