@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;
}

.container {
    max-width: 60rem;
    width: 80%;  
    margin: 0 auto 0 auto;
}

.top {
    height: 5rem;
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: inline-block;
    order: 1;
    flex-grow: 1;
    font-size: 3.5em;
}

.login {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.login-item {
    flex-grow: 1;
}

.login-text-gravatar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.25em;
}

#gravatar {
    border-radius: 50%;
    margin-right: 0.25em;
}

#login-action {
    font-size: 1em;
}

.navbar {
    height: 2.25em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: red;
    padding: 0.5em;
}

.navbar-item {
    display: inline-block;
    font-size: 1.25em;
    margin: 0 1em 0 0;
}

.navbar-item a {
    color: white;
}

.main {
    margin: 0 auto 0 auto;

}

.back {
    height: 1.5em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: aliceblue;
    padding: 0.5em;
}

h1 {
    font-size: 3em;
    font-weight: 100;
    text-decoration: none;
}

h2 {
    margin: 1em 1em 0.5em 1em;
}

h3 {
    margin: 1em 1em 0.5em 1em;
}

a {
    color: red;
    text-decoration: none;
}

.content {
    margin: 5em auto 0 auto;
}

.list {
    width: 100%;
    text-align: center;
    background-color: whitesmoke;
    margin: 0.25em auto 1em auto;
    border-spacing: 0em 0.05em;
}

.noted-list {
    width: 100%;
    margin: 4em auto 0.25em auto;
}

.list-top {
    height: 3.5em;
}

.list-entry {
    height: 4.5rem;
    background-color: white;
}

.list-bottom {
    height: 5em;
}

.list-title {
    height: 1.5em;
    text-align: center;
    font-weight: bold;
    background-color: ghostwhite;
}

#create-member-table {
    margin: 0
}

.create-member-first-name, 
.create-member-last-name {
    width: 42.5%;
    text-align: center;
    padding: 0.5em 2em;
}

.create-member-actions {
    width: 15%;
    text-align: center;
    padding: 0.5em;
}

#id_responsible_by {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    width: 100%;
}

.groups-list-name, .groups-list-leader {
    width: 40%;
    text-align: left;
    padding: 0.5em 2em;
}

.groups-list-deadline {
    width: 20%;
    text-align: center;
    padding: 0.5em 2em;
}

.groups-list-create {
    text-align: left;
    padding: 0.5em 2em;
}

.members-list-invite-email {
    width: 35%;
    text-align: left;
    padding: 0.5em 2em;
}

.members-list-invite-invite {
    width: 20%;
    text-align: center;
    padding: 0.5em 2em;
}

.members-list-invite-errors {
    width: 35%;
    text-align: center;
    font-size: 0.8em;
    padding: 0.5em 2em;
}

.members-list-email {
    width: 25%;
    text-align: left;
    padding: 0.5em 2em;
}

.members-list-name {
    width: 35%;
    text-align: center;
    padding: 0.5em 2em;
}

.members-list-wish-submitted, 
.members-list-actions {
    width: 15%;
    text-align: center;
    padding: 0.5em;
}

.members-list-invited-email {
    width: 85%;
    text-align: left;
    padding: 0.5em 2em;
}

.members-list-invited-action {
    width: 15%;
    text-align:center;
    padding: 0.5em;
}

.wish-list-items {
    width: 20%;
    text-align: left;
    padding: 0.5em 1em;
}

.wish-list-details {
    width: 50%;
    text-align: left;
    padding: 0.5em 1em;
}

.wish-list-priority, .wish-list-actions {
    width: 15%;
    text-align: center;
    padding: 0.5em;
}

.list-item-title {
    font-weight: bold;
}

#delete-wish {
    display: inline-block;
    margin: 0 0 0 0;
}

#id_priority{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

input[type="text"], input[type="email"] {
    height: 2em;
    border-radius: 1em;
    border: 0.1em solid gray;
    padding: 0.05em 0.8em;
    width: 100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

input[type=text]:focus, input[type="email"]:focus {
    outline: 0;
    border: 0.15em solid black;
}

