{% extends 'base.html' %}

{% block content %}
    
    <div class="back">
        {% if user.check_multi_responsible %}
            <a href="{% url 'my_lists' user.id %}"><i class="fi-rr-angle-double-left"></i></a>
        {% else %}
            <a href="{% url 'wish_list' user.id %}"><i class="fi-rr-angle-double-left"></i></a>
        {% endif %}
    </div>
    
    <div class="page-title">
        <div>{{ author_name }} wish list</div>
        <div id="burger" class="burger" onclick="dropBurger()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <div id="burger-menu-id" class="burger-menu">
                <a href="{% url 'wish_detailed_new' author_id %}" class="burger-element">
                    <i class="fi-rr-list dropdown-icon"></i>Add Wish
                </a>
            </div>
        </div>
    </div>

    <table class="list">
        <tr class="list-top">
            <td class="wish-list-items">
                Items
            </td>
            <td class="wish-list-details">
                Details
            </td>
            <td class="wish-list-priority">
                Priority
            </td>
            <td class="wish-list-actions">
            </td>
        </tr>
    
        {% for wish in object_list %}
            <tr class="list-entry">
                <td class="wish-list-items">
                    <a href="{% url 'update_wish' group_id author_id wish.id %}" class = "item-title">
                        {{ wish.title }}
                    </a>
                </td>
                <td class="wish-list-details">
                    {{ wish.details }}
                </td>
                <td class="wish-list-priority">
                    {{ wish.get_priority_display }}
                </td>
                <td class="wish-list-actions">
                    <span>
                        <a href="{% url 'update_wish' group_id author_id wish.id %}">Edit</a> | 
                        <a href="{% url 'delete_wish' group_id wish.id %}">
                            Delete
                        </a>
                    </span>
                </td>
            </tr>
        {% endfor %}

        <tr class="list-bottom">
            <form id="create-wish", method="post" action="{% url 'wish_new' group_id author_id %}">
                {% csrf_token %}
                <td class="wish-list-items">
                    {{ form.title }}
                </td>
                <td class="wish-list-details">
                    {{ form.details }}
                </td>
                <td class="wish-list-priority">
                    {{ form.priority }}
                </td>
                <td class="wish-list-actions">
                    <a href="#", onclick="document.getElementById('create-wish').submit()">
                        + Quick Add
                    </a>
                </td>
            </form>
        </tr>
    </table>

{% endblock content %}