{% extends 'base.html' %}

{% block content %}
    
    <div class="back">
        {% if user.check_multi_responsible %}
            <a href="{% url 'my_lists' %}">&lt;&lt; Back</a>
        {% else %}
            <a href="{% url 'wish_list' user.id %}">&lt;&lt; Back</a>
        {% endif %}
    </div>
    
    <h2>{{ list_owner }} wish list</h2>

    <table class="list">
        <tr class="list-top">
            <td class="wish-list-items">
                Items
            </td>
            <td class="wish-list-details">
                Details
            </td>
            <td class="wish-list-priority">
                Priority
            </td>
            <td class="wish-list-actions">
            </td>
        </tr>
    
        {% for wish in object_list %}
            <tr class="list-entry">
                <td class="wish-list-items">
                    <a href="{% url 'wish_detail' wish.pk %}" class = "item-title">
                        {{ wish.title }}
                    </a>
                </td>
                <td class="wish-list-details">
                    {{ wish.details }}
                </td>
                <td class="wish-list-priority">
                    {{ wish.get_priority_display }}
                </td>
                <td class="wish-list-actions">
                    <span>
                        <a href="">Edit</a> | 
                        <a href="{% url 'delete_wish' wish_id=wish.pk %}">
                            Delete
                        </a>
                    </span>
                </td>
            </tr>
        {% endfor %}

        <tr class="list-bottom">
            <form id="create-wish", method="post" action="{% url 'wish_new' list_owner_id %}">
                {% csrf_token %}
                <td class="wish-list-items">
                    {{ form.title }}
                </td>
                <td class="wish-list-details">
                    {{ form.details }}
                </td>
                <td class="wish-list-priority">
                    {{ form.priority }}
                </td>
                <td class="wish-list-actions">
                    <a href="#", onclick="document.getElementById('create-wish').submit()">
                        + Add
                    </a>
                </td>
            </form>
        </tr>
    </table>

{% endblock content %}