{% extends 'base.html' %}
{% load static %}
{% load tags %}

{% block content %}

    <div class="back">
        <a href="{% url 'my_groups' %}"><i class="fi-rr-angle-double-left"></i></a>
    </div>

    <div class="page-title">
        <div>{{ current_group.name }}</div>
        {% if not current_group.closed %}
            <div id="burger" class="burger" onclick="dropBurger()">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <div id="burger-menu-id" class="burger-menu">
                    {% if leader %}
                        <a href="{% url 'select_assignment' current_group.id %}" class="burger-element">
                            <i class="fi-rr-shuffle dropdown-icon"></i>Shuffle / Assignment
                        </a>
                        <a href="#invite" class="burger-element">
                            <i class="fi-rr-paper-plane dropdown-icon"></i>Invite user
                        </a>
                    {% endif %}
                    <a href="#add-member" class="burger-element">
                        <i class="fi-rr-users dropdown-icon"></i>Add member
                    </a>
                </div>
            </div>
        {% endif %}
    </div>

    <div class="group-info-container">
        <table class="group-info">
            <tr class="group-info-titles">
                <td class="group-info-deadline">
                    Deadline
                </td>
                <td class="group-info-value">
                    Gift value limit
                </td>
            </tr>
            <tr class="group-info-data">
                <td class="group-info-deadline">
                    {{ current_group.deadline }}
                </td>
                <td class="group-info-value">
                    {{ current_group.max_gift_value }} {{ current_group.get_currency_display }}
                </td>
            </tr>
        </table>
    </div>

    <div class="list-container">
        {% if not current_group.closed %}
            <div class="list-title subtitle-title">
                <div class="list-title-title">
                    Group members
                </div>
            </div>
        {% else %}
            <div class="list-title subtitle-title">
                <div class="list-title-title">
                    Group members
                </div>
                <div class="list-title-subtitle">
                    CLOSED
                </div>
            </div>
        {% endif %}

        {% if leader %}
            <table class="{% if not current_group.closed %} list {% else %} list-closed {% endif %}">
                <tr class="list-top">
                    <td class="members-list-email">
                        Email
                    </td>
                    <td class="members-list-name">
                        Name
                    </td>
                    <td class="members-list-wish-submitted">
                        List Submitted
                    </td>
                    <td class="members-list-actions">
                    </td>
                </tr>
                <tr class="list-entry {% if current_group.leader == user %}list-entry-important{% endif %}">
                    <td class="members-list-email">
                        <a href="mailto:{{ current_group.leader.email }}" class = "item-title" target = "_blank">
                            {{ current_group.leader.get_email_30char }}
                        </a>
                    </td>
                    <td class="members-list-name">
                        {{ current_group.leader.first_name }} {{ current_group.leader.last_name }}
                    </td>
                    <td class="members-list-wish-submitted">
                        {% get_wishlist_existence current_group current_group.leader %}
                    </td>
                    <td class="members-list-actions">
                        <span>
                            Group leader
                        </span>
                    </td>
                </tr>
                {% for user in object_list %}
                    <tr class="list-entry {% if current_group.leader == user %}list-entry-important{% endif %}">
                        <td class="members-list-email">
                            {% if user.is_self_responsible %}
                                <a href="mailto:{{ user.email }}" class = "item-title"  target = "_blank">
                                    {{ user.get_email_30char }}
                                </a>
                            {% endif %}
                        </td>
                        <td class="members-list-name">
                            {{ user.first_name }} {{ user.last_name }}
                        </td>
                        <td class="members-list-wish-submitted">
                            {% get_wishlist_existence current_group user %}
                        </td>
                        <td class="members-list-actions">
                            <span>
                                {% if not current_group.closed %}
                                    {% if user.id != user.id or user.responsible_by == current_user or leader %}
                                        <a href="{% url 'remove_group_member' current_group.id user.id %}"> 
                                            - Remove
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </td>
                    </tr> 
                {% endfor %}
                <tr class="list-empty-bottom">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>

        {% else %}
            <table class="list">
                <tr class="list-top">
                    <td class="members-list-name-user">
                        Name
                    </td>
                    <td class="members-list-wish-submitted">
                        List Submitted
                    </td>
                    <td class="members-list-actions">
                    </td>
                </tr>
                <tr class="list-entry list-entry-important">
                    <td class="members-list-name">
                        {{ current_group.leader.first_name }} {{ current_group.leader.last_name }}
                    </td>
                    <td class="members-list-wish-submitted">
                        {% get_wishlist_existence current_group current_group.leader %}
                    </td>
                    <td class="members-list-actions">
                        <span>
                            Group leader
                        </span>
                    </td>
                </tr>
                {% for user in object_list %}
                    <tr class="list-entry">
                        <td class="members-list-name-user">
                            {{ user.first_name }} {{ user.last_name }}
                        </td>
                        <td class="members-list-wish-submitted">
                            {% get_wishlist_existence current_group user %}
                        </td>
                        <td class="members-list-actions">
                            <span>
                                {% if not current_group.closed %}
                                    {% if user.id != user.id or user.responsible_by == current_user%}
                                        <a href="{% url 'remove_group_member' current_group.id user.id %}"> 
                                            - Remove
                                        </a>
                                    {% endif %}
                                {% endif %}
                            </span>
                        </td>
                    </tr> 
                {% endfor %}

                <tr class="list-empty-bottom">
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        {% endif %}
    </div>

    {% if leader and not current_group.closed %}
        <a name="invite"></a>
        <table class="list">
            <tr class="list-bottom">
                <form id="invite-user", method="post" action="{% url 'invite_group_member' current_group.id current_user.id %}">
                    {% csrf_token %}
                    <td class="members-list-invite-email">
                        {{ invite_form.email }}
                    </td>
                    <td class="members-list-invite-invite">
                        <a href="#" onclick="document.getElementById('invite-user').submit()">
                            + Invite user
                        </a>
                    </td>
                    <td class="members-list-invite-errors">
                        {% if messages %}
                            {% for message in messages %}
                                {% if 'invite' in message.tags %}
                                    <span>{{ message }}</span>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                </form>
            </tr>
        </table>
        {% if invitation and not current_group.closed %}
            <div class="list-container-2">
                <div class="list-title plain-title">
                    Invited users
                </div>
                <table class="list">
                    <tr class="list-top">
                        <td class="members-list-invited-email">
                            Email
                        </td>
                        <td class="members-list-invited-action">
                        </td>
                    </tr>

                    {% for user in invited_users %}
                        <tr class="list-entry">
                            <td class="members-list-invited-email">
                                {{ user.email }}
                            </td>
                            <td class="members-list-invited-action">
                                <a href="{% url 'uninvite_user' current_group.id user.id %}">
                                    - Uninvite
                                </a>
                            </td>
                        </tr>
                    {% endfor %}

                    <tr class="list-empty-bottom">
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        {% endif %}
    {% endif %}

    {% if current_user.is_self_responsible and not current_group.closed %}
        <hr class="list-page-divider">
        <a name="add-member"></a>
        <div class="noted-list">
            <div class="list-title plain-title">
                <div>
                    Add member
                </div>
            </div>
            <table id="create-member-table" class="list">
                <tr class="list-bottom">
                    <form id="create-member", method="post" 
                        action="{% url 'create_group_member' current_group.id current_user.id %}">
                        {% csrf_token %}
                        {{ create_form.email.as_hidden }}
                        <td class="create-member-first-name">
                            {{ create_form.first_name }}
                        </td>
                        <td class="create-member-last-name">
                            {{ create_form.last_name }}
                        </td>
                        <td class="create-member-actions">
                            <a href="#", onclick="document.getElementById('create-member').submit()">
                                + Add
                            </a>
                        </td>
                    </form>
                </tr>
            </table>
            <div class="noted-list-note-container">
                <span class="noted-list-note">
                    This is for adding members your are responsible for, e.g. your children.
                    Their lists will be avaiable in the my lists and received lists section along with you own.
                </span>
            </div>
        </div> 
    {% endif %}

{% endblock content %}