{% extends 'base.html' %}

{% block content %}

    <div class="back">
        <a href="{% url 'home' %}">&lt;&lt; Back</a>
    </div>

    <h2>My Groups</h2>

    <table class="list">
        <tr class="list-top">
            <td class="groups-list-name">
                Group Name
            </td>
            <td class="groups-list-leader">
                Leader
            </td>
            <td class="groups-list-deadline">
                Deadline
            </td>
        </tr>
    
        {% for group in object_list %}
            <tr class="list-entry">
                <td class="groups-list-name">
                    <a href="{% url 'group_members' group.pk %}" class="list-item-title">
                        {{ group.name }}
                    </a>
                </td>
                <td class="groups-list-leader">
                    {{ group.leader.first_name }} {{ group.leader.last_name }}
                </td>
                <td class="groups-list-deadline">
                    {{ group.deadline }}
                </td>
            </tr>
        {% empty %}
            <p>No groups found</p>
        {% endfor %}

        {% if user.is_leader %}
            <tr class="list-bottom">
                <td class="groups-list-create">
                    <a href="{% url 'create_group' %}">+ Create New Group</a>
                </td>
            </tr>
        {% endif %}
    </table>

{% endblock content %}