<!-- templates/base.html -->
{% load static %}
<html>
    <head>
        <title>Andersen's Christmas Wishlist</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
        <header class="container">
            <div class="top">
                <span class="title"><a href="{% url 'home' %}">{wishlist.app}</a></span>
                <span class="new"><a href="{% url 'wish_new' %}">+ New</a></span>
            </div>
        </header>
        <div class="container">
            <div class="main">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>