<!-- templates/base.html -->
<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Andersen's Christmas Wishlist</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block head %}
        {% endblock head %}
    </head>
    <body>
        <header class="container">
            <div class="top">
                <span class="title"><a href="{% url 'home' %}">{wishlist.app}</a></span>
                <div class="login">
                    {% if user.is_authenticated %}
                        <span class="login-item">
                            <span class="login-text-gravatar">
                                <img src="{{ user.get_gravatar }}" id="gravatar">
                                <a href="{% url 'home' %}">{{ user.email }}</a> 
                            </span>
                        </span>
                        <span class="login-item">
                            <a href="{% url 'logout' %}">- Log Out</a>
                        </span>
                    {% else %}
                        <span class="login-item">
                            <a href="{% url 'login_user' %}">+ Log In</a>
                        </span>
                        <span class="login-item">
                            <a href="{% url 'signup_user' %}">+ Sign Up</a>
                        </spn>
                    {% endif %}
                </span>
            </div>
        </header>
        <div class="container">
            <div class="navbar">
                {% if user.is_authenticated %}
                    <div class="navbar-item">
                        {% if user.check_multi_responsible %}
                            <a href="{% url 'my_lists' %}">+ My lists</a>
                        {% else %}
                            <a href="{% url 'wish_list' user.id %}">+ My lists</a>
                        {% endif %}
                    </div>
                    <div class="navbar-item">
                        <a href="{% url 'received_lists' %}">+ Received lists</a>
                    </div>
                        <div class="navbar-item">
                            <a href="{% url 'my_groups' %}">+ My Groups</a>
                        </div>
                {% endif %}
            </div>
        </div>
        <div class="container">
            <div class="main">
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>