<!-- templates/home.html -->
{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Hi, {{ screen_name }}!</h2>
        <p>Click on <b>"My lists"</b> link from the menu above to navigate to create your wish list.<br>
        You will receive a notification when you have been assigned a wish list from someone else.<br>
        This can be accessed through the <b>"Received lists"</b> link.</p>
    {% else %}
        <h2>Please log in with your username and password (see email)</h2>
    {% endif %}
{% endblock content %}