{% extends 'base.html' %}

{% block content %}
    <div class="back">
        <a href="{% url 'group_members' group_id %}"><i class="fi-rr-angle-double-left"></i></a>
    </div>

    <div class="form-page-large">
        <span class="form-page-title">Manual wish list assignment</span>
        <form class="form-page-form" method="post">{% csrf_token %}
            {% for field in form %}
                <div class="form-double-space">
                    <span class="form-page-member">
                        {{ field.label_tag }}
                    </span>
                    <span class="form-page-assignment">
                        {{ field }}<br>
                        {% for error in field.errors %}<span class="form-field-error">{{ error }}<br></span>{% endfor %}
                    </span>
                </div>
            {% endfor %}
            <div><button class="form-page-submit" type="submit">Control assignments</button></div>
        </form>
    </div>
    
{% endblock content %}