{% extends 'base.html' %}

{% block content %}
    <div class="back">
        <a href="{% url 'select_assignment' group_id %}"><i class="fi-rr-angle-double-left"></i></a>
    </div>
    
    <div class="form-page-large">
        <span class="form-page-title">
            {% if userwise %}User-wise random{% else %}Random{% endif %} wish list assignment</span>
        <div class="form-page-assignment-direction">
            Assigned to
            <i class="fi-rr-arrow-small-right"></i>
        </div>
        <form class="form-page-form" method="post">{% csrf_token %}
            {% for field in form %}
                <div class="form-double-space">
                    <span class="form-page-member">
                        {{ field.label_tag }}
                    </span>
                    <span class="form-page-assignment">
                        {{ field }}<br>
                        {% for error in field.errors %}<span class="form-field-error">{{ error }}<br></span>{% endfor %}
                    </span>
                </div>
            {% endfor %}
            <div class="form-double-space">
                <button onclick="location.href='{% url 'random_assignment' group_id userwise %}'"
                    class="form-page-redo" type="button">Redo assignment</button>
                <button class="form-page-submit-half" type="submit">Control assignments</button>
            </div>
        </form>
    </div>
    
{% endblock content %}